section {
  padding: 5rem 0;
}

/* Footer */
.footer {
  background-color: var(--black-800);
  color: var(--black-500);
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.fa-stack-overflow {
  color: var(--orange);
}

.footer-content {
  display: flex;
}

.footer-icon {
  flex: 0 0 64px;
}

.footer-icon i {
  font-size: 4rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.footer-nav {
  display: flex;
  flex: 2 1 auto;
  flex-wrap: wrap;
}

.footer-nav-col {
  flex: 1 0 auto;
  padding-right: 1rem;
  padding-bottom: 2.4rem;
}

.footer-another-links {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links-title {
  margin-bottom: 1rem;
}

.footer-links-title a {
  color: var(--black-200);
  font-size: 1.3rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-link-item {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}

.footer-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(132, 141, 149, 0.35);
  opacity: 0.5;
  border-radius: 0.3rem;
  margin-left: 1rem;
}

.footer-arrow-icon i {
  font-size: 0.5rem;
  color: var(--black-200);
}

.footer-link {
  color: var(--black-400);
  font-size: 1.3rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

.social-media ul {
  display: flex;
}

.social-media ul li {
  margin-right: 1rem;
}

.social-media ul li a {
  color: var(--black-400);
  font-size: 1.1rem;
}

.copyright {
  color: var(--black-500);
  font-size: 1.1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

.copyright a {
  color: var(--black-400);
}

.footer-robot-img {
  width: 5.1rem;
  height: 5.1rem;
  position: absolute;
  right: 6rem;
  top: -4.5rem;
}

/* End Footer */
