/* summary title */
section {
  padding: 8rem 0;
}
.row {
  padding-left: 10rem;
}

table, .table{
  margin: 5rem;
  padding: 5rem;

}
.row>* {
  margin-right: 5rem;
}
.user-summary:hover {
  cursor: pointer;
}

.user-summary {
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.user-summary .card {
  border: none;
}

.card-questions .card {
  border-bottom: 1px solid var(--powder);
}

/* .all-qn {
  padding: 5rem 0 2rem 0;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-150);
}

.all-qn h1 {
  font-weight: 400;
}

.all-qn button {
  height: 4rem;
  width: 10.2rem;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: .3rem;
  font-size: 1.2rem;
}

.all-qn button:hover {
  background-color: var(--blue-600);
} */

/* summary title end */
