/* summary title */
section {
  padding: 8rem 0;
}
.row {
  padding-left: 10rem;
}
/* 
table, .table{
  margin: 5rem;
}
.row>* {
  margin-right: 5rem;
} */

.user-summary:hover {
  cursor: pointer;
}

.user-summary {
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.user-summary .card {
  border: none;
}

.card-questions .card {
  border-bottom: 1px solid var(--powder);
}

/* .all-qn {
  padding: 5rem 0 2rem 0;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-150);
}

.all-qn h1 {
  font-weight: 400;
}

.all-qn button {
  height: 4rem;
  width: 10.2rem;
  background-color: var(--blue-500);
  color: var(--white);
  border: none;
  border-radius: .3rem;
  font-size: 1.2rem;
}

.all-qn button:hover {
  background-color: var(--blue-600);
} */

/* summary title end */

/* table */
.my-table{
  margin: 5rem;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
