<div class="content">
  <header>
  
    <div class="nav-container">
      <nav>
        <div class="nav-brand">
          <div   class="hamburger-menu-container"
          [ngClass]="{ 'open': isOpen }">
  
            <div class="hamburger-menu"  (click)="toggleOpen()">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="nav-dropdown-menu">
              <a href="#" class="current-link">Home</a>
              <h5>Public</h5>
              <ul class="nav-ul">
                <li class="nav-item">
                  <i class="fas fa-globe-europe"></i>
                  <a href="#" class="nav-link">Stack Overflow</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Tags</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Users</a></li>
              </ul>
              <h5>Find a Job</h5>
              <ul class="nav-ul">
                <li class="nav-item"><a href="#" class="nav-link">Jobs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Companies</a></li>
              </ul>
              <h5>Teams <a href="#">What's this ?</a></h5>
              <a href="#" class="nav-link">
                <i class="fas fa-briefcase"></i>
                <span>Free 30 Day Trial</span>
              </a>
            </div>
          </div>
  
          <a href="#" class="nav-icon">
            <i class="fab fa-stack-overflow"></i>
            <div class="nav-icon-text">stack <span class="nav-bold-text">overflow</span>
            </div>
          </a>
        </div>
        <div class="nav-base-links">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">For Teams</a></li>
          </ul>
        </div>
        <div class="nav-search">
          <div class="search-container">
            <i class="fas fa-search"></i>
            <input type="text" id="" placeholder="Search...">
          </div>
          <div class="search-hints">
            <div class="search-arrow-up"></div>
            <div class="search-hint-body">
              <div class="hints-grid-column">
                <div class="hint-text"><span>[tag] </span> search within a tag</div>
                <div class="hint-text"><span>user:1234 </span> search by author</div>
                <div class="hint-text"><span>"words here"</span> exact phrase </div>
              </div>
              <div class="hints-grid-column">
                <div class="hint-text"><span>answers:0</span> unanswered questions</div>
                <div class="hint-text"><span> score:3 </span> posts with a 3+ score</div>
                <div class="hint-text"><span>isaccepted:yes </span> search within status</div>
              </div>
            </div>
            <div class="search-hint-footer">
              <a href="#" class="btn">Ask a question</a>
              <a href="#" class="search-help">Search help</a>
            </div>
          </div>
  
        </div>
        <div class="nav-right-buttons">
          <div class="search-btn">
            <i class="fas fa-search"></i>
          </div>
  
  
          <a routerLink="login"  class="btn btn-login">Log in</a>
          <a routerLink="register"  class="btn btn-register">Sign up</a>
        </div>
      </nav>
    </div>
  </header>
  
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">We <span>
          <3 </span> people who code</h1>
      <p class="hero-paragraph">
        We build products that empower developers and connect them to solutions that enable productivity, growth, and
        discovery.
      </p>
      <div class="hero-options">
        <a href="#" class="btn btn-developers">For developers</a>
        <a href="#" class="btn btn-businesses">For businesses</a>
      </div>
    </div>
  </section>
  
  
  <section class="for-developers">
    <div class="container">
      <div class="section-head">
        <h2 class="section-title">For developers, by developers
        </h2>
        <div class="section-line"></div>
        <p class="section-description">Stack Overflow is an <a href="#">open community</a> for anyone that codes. We help
          you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your
          next dream job.
        </p>
      </div>
      <div class="options">
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f" alt="Public Q & A">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Get answers to more than 16.5 million questions and give back by sharing your knowledge with others.
            <a href="#">Sign up</a> for an account.
          </div>
          <div class="option-button">
            <a href="#" class="option-link btn btn-dark-blue">
              Browse questions
            </a>
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/private-qa.svg?v=2c1de180b6d7" alt="Private Q & A">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship
            Q&A engine.
          </div>
          <div class="option-button">
            <a href="#" class="option-link btn btn-orange">
              Try for free
            </a>
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/jobs.svg?v=931d6c0863ee" alt="Browse jobs
  ">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Find the right job through high quality listings and search for roles based on title, technology stack,
            salary, location, and more.
  
  
          </div>
          <div class="option-button">
            <a href="#" class="option-link btn btn-dark-blue">
              Find a job
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <img src="https://cdn.sstatic.net/Img/home/robot.svg?v=dfa16a330cbd" alt="" class="footer-robot-img">
    <div class="container">
      <div class="footer-content">
        <div class="footer-icon">
          <i class="fab fa-stack-overflow"></i>
        </div>
        <div class="footer-nav">
          <div class="footer-nav-col">
            <div class="footer-links-title"><a href="#">Stack Overflow</a></div>
            <ul class="footer-links">
              <li class="footer-link-item"><a href="#" class="footer-link">Questions</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Jobs</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Developer Jobs Directory</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Salary Calculator</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Help</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Mobile</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Disable Responsiveness</a></li>
            </ul>
          </div>
          <div class="footer-nav-col">
            <div class="footer-links-title"><a href="#">Products</a></div>
            <ul class="footer-links">
              <li class="footer-link-item"><a href="#" class="footer-link">Teams</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Talent</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Advertising</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Enterprise</a></li>
            </ul>
          </div>
          <div class="footer-nav-col">
            <div class="footer-links-title"><a href="#">Company</a></div>
            <ul class="footer-links">
              <li class="footer-link-item"><a href="#" class="footer-link">About</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Press</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Work Here</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Legal</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Privacy Policy</a></li>
              <li class="footer-link-item"><a href="#" class="footer-link">Contact Us</a></li>
            </ul>
          </div>
          <div class="footer-nav-col">
            <div class="footer-links-title"><a href="#">Stack Exchange Network</a></div>
            <ul class="footer-links">
              <li class="footer-link-item">
                <a href="#" class="footer-link">Technology</a>
                <div class="footer-arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">Life / Arts</a>
                <div class="footer-arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">Culture / Recreation</a>
                <div class="footer-arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">Science</a>
                <div class="footer-arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">Other</a>
                <div class="footer-arrow-icon">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-another-links">
          <div class="social-media">
            <ul>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Facebook</a>
              </li>
              <li>
                <a href="#">Twitter</a>
              </li>
              <li>
                <a href="#">LinkedIn</a>
              </li>
              <li>
                <a href="#">Instagram</a>
              </li>
            </ul>
          </div>
          <div class="copyright">
            <p>site design / logo © 2020 Stack Exchange Inc; user contributions licensed under <a
                href="https://stackoverflow.com/help/licensing">cc by-sa</a>. rev 2020.10.2.37725</p>
          </div>
        </div>
      </div>
  
    </div>
  </footer>
</div>