
.container {
  width: 100%;
  max-width: 126.4rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* section {
  padding: 5rem 0;
} */

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blue-600);
  cursor: pointer;
}
*/
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.fa-stack-overflow {
  color: var(--orange);
}
.btn {
  text-align: center;
  font-size: 1rem;
  border-radius: 3px;
  transition: all 0.5s;
  padding: 1.3rem 2.5rem;
}

.btn-orange {
  background-color: var(--orange);
  color: var(--white);
}

.btn-dark-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}


/* Hero */
.hero {
  background-image: url("https://cdn.sstatic.net/Img/home/illo-hero-full.svg?v=e2018a5f9272");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #FFCF10;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

.hero-title {
  color: var(--black-800);
  font-family: "Roboto Slab Bold", serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 5.5rem;
  text-align: center;
  max-width: 100%;
}
.hero-title span {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

.hero-paragraph {
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--black-800);
  max-width: 40rem;
  font-weight: 400;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.hero-options {
  display: flex;
}

.btn-developers {
  background-color: var(--white);
  color: var(--orange-400);
  border: 1px solid var(--orange-400);
}

.btn-businesses {
  background-color: var(--orange-400);
  color: var(--white);
  margin-left: 0.5rem;
}

/*End Hero*/
/* For Developers*/
.section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black-800);
}

.section-title {
  font-size: 3.4rem;
  font-family: "Roboto Slab Bold", serif;
  font-weight: 700;
}

.section-line {
  width: 64px;
  height: 8px;
  margin: 3rem auto;
  border-radius: 100rem;
  background-color: var(--orange-400);
}

.section-description {
  font-size: 1.7rem;
  max-width: 52.6rem;
  text-align: center;
}
.section-description a {
  color: var(--orange-400);
}

.for-developers .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.for-developers .option {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: var(--white);
  box-shadow: var(--bs-md);
  border-radius: 0.7rem;
}
.for-developers .option:nth-child(1), .for-developers .option:nth-child(3) {
  margin-top: 12rem;
}
.for-developers .option:hover {
  box-shadow: var(--bs-lg);
}
.for-developers .option-title {
  color: var(--black-800);
  font-size: 2.1rem;
  font-weight: 400;
  margin: 2rem 0;
}
.for-developers .option-description {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: var(--black-800);
}
.for-developers .option-description a {
  color: var(--orange-400);
}
.for-developers .option-button {
  margin: 3rem 0 2rem;
}
.for-developers .option-link {
  color: var(--white);
}

/* End For Developers*/


/* Media Queries */
@media screen and (max-width: 1100px) {
  .for-businesses .option {
    flex-direction: column;
  }

  .for-businesses .option-icon {
    margin-bottom: 1.5rem;
  }

  .for-businesses .option-icon img {
    max-width: 7.6rem;
  }

  .jobs-title {
    text-align: center;
  }

  .jobs-body {
    flex-direction: column;
  }

  .jobs-items {
    flex-direction: column;
  }

  .jobs-items .column:nth-child(even) {
    margin-left: initial;
  }

  .jobs-item {
    margin-bottom: 3rem;
  }

  .hire-content {
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  }
}

@media screen and (max-width: 850px) {
  .hire-content {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}

@media screen and (max-width: 830px) {
  .footer-content {
    flex-wrap: wrap;
  }

  .social-media {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 810px) {
  .nav-brand {
    flex: initial;
  }

  .nav-base-links ul li:not(:nth-child(2)) {
    display: none;
  }

  .nav-search {
    flex: initial;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 4.7rem;
    padding: 0.8rem 1rem;
    background-color: var(--black-100);
    margin-right: initial;
    display: none;
  }

  .nav-search.open {
    display: flex;
  }

  .search-btn {
    display: flex;
  }

  .nav-right-buttons {
    flex: initial;
    margin-right: 1rem;
  }

  .search-hints {
    width: 94%;
    left: 3%;
    top: 5.2rem;
  }

  .for-developers .options {
    justify-content: initial;
    flex-direction: column;
    max-width: initial;
    margin-top: 6rem;
  }

  .for-developers .options>.option {
    margin-top: initial;
  }

  .for-developers .option {
    max-width: 28rem;
    margin-bottom: 3rem;
    margin-top: initial;
  }

  .for-businesses .options {
    flex-direction: column;
  }

  .for-businesses .option {
    flex-direction: row;
    margin-bottom: 2.5rem;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }

  .for-businesses .option-icon {
    margin-bottom: 0;
  }

  .for-businesses .option-icon img {
    max-width: initial;
  }

  .teams {
    background-image: none;
  }

  .teams-plan {
    width: 90%;
  }

  .teams-plan .card {
    flex-basis: initial;
  }

  .teams-plan .card:nth-child(2) {
    order: -1;
  }

  .teams-footer {
    width: 90%;
  }

  .questions-content .question-title {
    font-size: 2.3rem;
  }

  .questions-body {
    flex-direction: column;
    justify-content: initial;
  }

  .questions-body-items {
    display: flex;
  }

  .questions-body-item {
    flex-basis: 33%;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .question-item-text {
    margin-left: initial;
    margin-top: 1rem;
  }

  .question-arrow-right,
  .question-arrow-left {
    display: none;
  }

  .questions-body-item-content {
    margin: 2rem 0 0;
    order: 3;
  }

  .question-item-content-img {
    padding: 0 2rem;
  }

  .question-item-content-text {
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .questions-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .nav-icon {
    padding: 0 1rem;
  }

  .nav-icon-text {
    display: none;
  }

  .nav-base-links {
    font-size: 1.1rem;
  }

  .search-hint-body {
    flex-direction: column;
  }

  .hero {
    background-image: url("https://cdn.sstatic.net/Img/home/illo-hero-small.svg?v=884735d21ea5");
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-options {
    flex-direction: column;
  }

  .btn-developers {
    margin-bottom: 1rem;
  }

  .btn-businesses {
    margin-left: initial;
  }

  .section-title {
    font-size: 2.3rem;
  }

  .section-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .for-businesses .option-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .teams-head {
    padding: 0 6rem;
  }

  .teams-title {
    font-size: 2.3rem;
  }

  .teams-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .questions-grid {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 0 9rem;
  }

  .jobs-title {
    font-size: 2.3rem;
  }

  .jobs-items .column {
    flex-direction: column;
  }

  .jobs-items .jobs-item {
    margin-left: initial;
    margin-bottom: 2rem;
  }

  .footer-icon {
    display: none;
  }

  .footer-links-title a {
    font-size: 1.1rem;
  }

  .footer-link {
    font-size: 1.1rem;
  }

  .hire .container {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 500px) {
  .questions-grid {
    padding: 0;
  }
}

/* End Media Queries */
