  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">We <span>
          <3 </span> people who code</h1>
      <p class="hero-paragraph">
        We build products that empower developers and connect them to solutions that enable productivity, growth, and
        discovery.
      </p>
      <div class="hero-options">
        <a href="#" class="btn btn-developers">For developers</a>
        <a href="#" class="btn btn-businesses">For businesses</a>
      </div>
    </div>
  </section>


  <section class="for-developers">
    <div class="container">
      <div class="section-head">
        <h2 class="section-title">For developers, by developers
        </h2>
        <div class="section-line"></div>
        <p class="section-description">Stack Overflow is an <a href="#">open community</a> for anyone that codes. We help
          you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your
          next dream job.
        </p>
      </div>
      <div class="options">
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f" alt="Public Q & A">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Get answers to more than 16.5 million questions and give back by sharing your knowledge with others.
            <a routerLink="/register">Sign up</a> for an account.
          </div>
          <div class="option-button">
            <a routerLink="/login" class="option-link btn btn-dark-blue">
              Browse questions
            </a>
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/private-qa.svg?v=2c1de180b6d7" alt="Private Q & A">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship
            Q&A engine.
          </div>
          <div class="option-button">
            <a routerLink="/login" class="option-link btn btn-orange">
              Try for free
            </a>
          </div>
        </div>
        <div class="option">
          <div class="option-icon">
            <img src="https://cdn.sstatic.net/Img/home/jobs.svg?v=931d6c0863ee" alt="Browse jobs">
          </div>
          <div class="option-title">
            Public Q&A
          </div>
          <div class="option-description">
            Find the right job through high quality listings and search for roles based on title, technology stack,
            salary, location, and more.


          </div>
          <div class="option-button">
            <a routerLink="/login" class="option-link btn btn-dark-blue">
              Find a job
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


