<div class="container">
  <div class="content">
    <div class="form">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="password">Password</label>
            <small class="form-text text-muted"><a href="#">Forgot password?</a></small>
          </div>
          <input type="password" class="form-control" id="password" >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
    <div class="account">
      <p>Don't have an account?<a routerLink="/register">Sign up</a></p>
    </div>
  </div>
</div>
