<section class="show-qn">
  <!-- All questions title -->
  <div class="all-qn" >
    <h1>All Questions</h1>
    <button routerLink="ask-question">Ask Question</button>
  </div>
  <!-- All questions title end -->

  <!-- Display question -->
  <div class="question" *ngFor="let question of questions$ | async">
    <div class="qn-summary">
      <div class="votes">
        <span>0</span>
        <span>votes</span>
      </div>
      <div class="answers">
        <span>1</span>
        <span>answer</span>
      </div>
    </div>
    <div class="question-detail">
      <div class="qn-title">
        <a routerLink="one-question/{{question.id}}">{{question.title}}
        </a>
      </div>
      <div class="tags">
        <a class="btn btn-primary" href="#" role="button">{{question.tagName}}</a>
        <a class="btn btn-primary" href="#" role="button">{{question.tagName}}</a>
        <a class="btn btn-primary" href="#" role="button">{{question.tagName}}</a>
        <a class="btn btn-primary" href="#" role="button">{{question.tagName}}</a>
      </div>
    </div>

  </div>
</section>

