<div class="container">
  <div class="content">
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="register()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" formControlName="name">
          <div *ngIf="!form.get('name')?.valid && form.get('name')?.touched" class="error">
            <span *ngIf="form.get('name')!.errors!['required']">Please enter a name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" email class="form-control" id="email" formControlName="email">
          <div *ngIf="!form.get('email')?.valid && form.get('email')?.touched " class="error">
            <span *ngIf="form.get('email')!.errors!['required']">Please enter an email</span>
            <span *ngIf="form.get('email')!.errors!['email']">Please Enter a valid
              Email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" aria-describedby="passwordHelpInline" formControlName="password">

          <small id="passwordHelpInline" class="form-text text-muted">
            Passwords must contain at least eight characters, including at least 1 letter and 1 number.
          </small>
          <div class="error" *ngIf="!form.get('password')?.valid && form.get('password')?.touched ">
            <span *ngIf="form.get('password')!.errors!['required']">Please enter a Password</span>
          </div>

        </div>
        <div class="form-group">
          <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Sign up</button>
        </div>
      </form>
    </div>
    <div class="account">
      <p>Already have an account?<a routerLink="/login">Log in</a></p>
    </div>
  </div>
</div>
